html {
  overflow: hidden;
}

.site-footer {
  padding: 0px !important;
}
.navbar {
  margin-bottom: 0px !important;
}

.screen-vh {
  height: calc(100vh - 56px);
}

.screen-vh-admin {
  height: calc(100vh - 135px);
}

::-webkit-scrollbar-thumb {
  background: #2f3438!important;
}
::-webkit-scrollbar-track {
  background: #1b1c1d!important;
}

.progress.ct-progress-bar {
  position: absolute;
  width: 100%;
  z-index: 5;
  height: 8px;
  display: none;
}
.progress-bar.progress-bar-striped {
  height: 100%;
}

.ui-dialog-titlebar.ui-corner-all {
  border-radius: 0px;
  border: 0px;
}

.ui-dialog {
  padding: 0px;
}

div#menu-container {
  position: relative;
}

.view-display-id-search_block > div.row{
  padding: 0px !important;
}

div.dataset-tab {
  min-height: 300px;
}

.rest-error {
  padding-top: 1.5rem;
}


.b-column > .grid, .item-list > .b-column > .grid {
  margin: 0 !important;
}
.b-column .grid__content, .b-column .region__content {
  margin: 0 0 1rem !important;
}
  