.mapboxgl-popup-content p a{
    color: inherit;
}

#map-container {
    width: 100%;
  }
  
  .pop-news-card {
      max-width: 400px;
  }
  .pop-news-title {
      color: #72a19b;
      font-size: 16px;
      font-weight: bold;
  }
  .pop-news-date {
      color: #ccc;
  }
  
  .mapboxgl-popup-content {
      max-height: 400px;
      overflow: auto;
  }