<div id="ct-menu"  class="{{ heightclass }} d-flex flex-column">
    {% if user.hasPermission('create indicator content') %}
    <a href="/node/add/indicator" class="use-ajax add-policy fancy_login_show_popup btn btn-info w-100 align-self-end" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}">
        <i class="fas fa-plus"></i> {% trans %}Add a Dataset{% endtrans %}
    </a>
    {% endif %}
    <div id="ct-search-field-view">
        <div class="contextual-region">
            {{ drupal_contextual_links('entity.view.edit_form:view=conservation_tracking_menu&display_id=search_block:') }}
            {{ drupal_view('conservation_tracking_menu', 'search_block') }}
        </div>
    </div>
    <div id="ct-indicator-cards-view">
        <div class="contextual-region">
            {{ drupal_contextual_links('entity.view.edit_form:view=conservation_tracking_menu&display_id=menu_block:') }}
            {{ drupal_view('conservation_tracking_menu', 'menu_block') }}
        </div>
    </div>
</div>