 {#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
{{ attach_library( 'biopama_conservation_tracking/indicator-card' ) }}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{% set nodeid = node.id %}
{% set statistics = false %}
{% set servertype = "" %}
{% if (content.field_indi_data_global|length > 3) or (content.field_indi_geonode_global.0|render == 'On') %}
	{% set global_data = true %}
	{% set statistics = true %}
{% else %}
	{% set global_data = false %}
{% endif %}
{% if (content.field_indi_data_regional|length > 3) or (content.field_indi_geonode_regional.0|render == 'On') %}
	{% set regional_data = true %}
	{% set statistics = true %}
{% else %}
	{% set regional_data = false %}
{% endif %}
{% if (content.field_indi_data_national|length > 3) or (content.field_indi_geonode_country.0|render == 'On') %}
	{% set national_data = true %}
	{% set statistics = true %}
{% else %}
	{% set nationaldata = false %}
{% endif %}
{% if (content.field_indi_data_local|length > 3) or (content.field_indi_geonode_pa.0|render == 'On') %}
	{% set local_data = true %}
	{% set statistics = true %}
{% else %}
	{% set local_data = false %}
{% endif %}
{% if node.field_indi_map_layers_all.entity.field_layer_server_type[0].entity.label is not null %}
	{% set servertype = node.field_indi_map_layers_all.entity.field_layer_server_type[0].entity.label %}
{% endif %}
{% if node.field_indi_map_layers_all.entity.field_layer_source[0].entity.title[0].value is not null %}
	{% set dataClass = node.field_indi_map_layers_all.entity.field_layer_source[0].entity.title[0].value|t|trim|replace({' ': ''}) %}
{% else %}
	{% set dataClass = "no-source" %}
{% endif %}
<div id="id-{{ nodeid }}" class="card indicator-card p-2 mb-2 rounded-0 text-bg-dark {{ "source-" ~ dataClass|lower }}">
	<div class='container-fluid indicator-content-wrapper'>
		<div class='row indicator-top-actions'>
			<div class="col-1 p-0" aria-label="Close" onclick='closeIndicatorCard({{ nodeid }})'>
				<div data-bs-toggle="tooltip" title="Close" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon">
					<i class="fa-solid fa-xmark"></i>
				</div>
			</div>
			<a class="col-1 p-0" data-bs-toggle="collapse" data-bs-target="#collapseCard{{ nodeid }}" aria-expanded="true" aria-controls="collapseCard{{ nodeid }}">
				<div data-bs-toggle="tooltip" title="Minimise" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon">
					<i class="fa-solid fa-window-minimize"></i>
				</div>
			</a>
			<div class="col-10 p-0 grab d-flex justify-content-between">
				<div class="mini-title d-flex align-items-center d-none">
					{{ node.title.value|render|truncate(30, false, true) }}
				</div>
				<div data-bs-toggle="tooltip" title="Move" class="grab ms-auto btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon">
					<i class="fa-solid fa-grip-vertical"></i>
				</div>
			</div>
		</div>
		<div class="collapse show" id="collapseCard{{ nodeid }}">
			<div class='row'>
				<div class="indicator-title p-3 m-0">
					{{ label }}
					<span class="indicator-for">{% trans %}for{% endtrans %}</span> 
					<span class="indicator-country">Country Name</span>
				</div>
			</div>
			{% if is_admin %}
				<div class='row'>
					<div class="col-12 d-flex">
						<div class="indi-menu-btn mx-1" data-bs-toggle="tooltip" title="Edit the dataset metadata">
							<a href="/node/{{ nodeid }}/edit" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle mx-1 indicator-actions-icon use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:500}">
								<i class="fas fa-wrench"></i>
							</a>
						</div>
						<div class="indi-menu-btn mx-1" data-bs-toggle="tooltip" title="Edit Global Data">
							<a href="/node/{{ nodeid }}/edit/data_glo" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle mx-1 indicator-actions-icon use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}">
								<i class="fa-solid fa-globe"></i>
								{% if global_data %}
									<i class="fa-solid fa-circle-dot"></i>
								{% endif %}
							</a>
						</div>
						<div class="indi-menu-btn mx-1" data-bs-toggle="tooltip" title="Edit Regional Data">
							<a href="/node/{{ nodeid }}/edit/data_regional" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle mx-1 indicator-actions-icon use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}">
								<i class="fa-solid fa-object-group"></i>
								{% if regional_data %}
									<i class="fa-solid fa-circle-dot"></i>
								{% endif %}
							</a>
						</div>
						<div class="indi-menu-btn mx-1" data-bs-toggle="tooltip" title="Edit National Data">
							<a href="/node/{{ nodeid }}/edit/data_country" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle mx-1 indicator-actions-icon use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}">
								<i class="fa-regular fa-flag"></i>
								{% if national_data %}
									<i class="fa-solid fa-circle-dot"></i>
								{% endif %}
							</a>
						</div>
						<div class="indi-menu-btn mx-1" data-bs-toggle="tooltip" title="Edit Protected Area/Local Data">
							<a href="/node/{{ nodeid }}/edit/data_local" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle mx-1 indicator-actions-icon use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}">
								<i class="fa-solid fa-location-dot"></i>
								{% if local_data %}
									<i class="fa-solid fa-circle-dot"></i>
								{% endif %}
							</a>
						</div>
					</div>
				</div>
			{% endif %}
			<div class="row bs-light-text indicator-scope-tabs">
				<ul id="indicator-card-tabs-{{ nodeid }}" class="indicator-card-tabs nav nav-tabs nav-justified">
					{% if global_data %}
						<li class="nav-item indi-tab indi-tab-global" role="presentation">
							<div data-bs-toggle="tooltip" title="Display global data">
								<button class="nav-link global-tab" id="global-tab-{{ nodeid }}" data-bs-toggle="tab" data-bs-target="#tabs-1-{{ nodeid }}" type="button" role="tab" aria-controls="tabs-1-{{ nodeid }}" aria-selected="false">
									<i class="fa-solid fa-globe"></i>
									<div class='hidden'>Global</div>
								</button>
							</div>
						</li>
					{% endif %}
					{% if regional_data %}
						<li class="nav-item indi-tab indi-tab-regional" role="presentation">
							<div data-bs-toggle="tooltip" title="Display global data">
								<button class="nav-link regional-tab" id="regional-tab-{{ nodeid }}" data-bs-toggle="tab" data-bs-target="#tabs-2-{{ nodeid }}" type="button" role="tab" aria-controls="tabs-2-{{ nodeid }}" aria-selected="false">
									<i class="fa-solid fa-object-group"></i>
									<div class='hidden'>Regional</div>
								</button>
							</div>
						</li>
					{% endif %}
					{% if national_data %}
						<li class="nav-item indi-tab indi-tab-national" role="presentation">
							<div data-bs-toggle="tooltip" title="Display national data">
								<button class="nav-link national-tab" id="national-tab-{{ nodeid }}" data-bs-toggle="tab" data-bs-target="#tabs-3-{{ nodeid }}" type="button" role="tab" aria-controls="tabs-3-{{ nodeid }}" aria-selected="false">
									<i class="fa-regular fa-flag"></i>
									<div class='hidden'>National</div>
								</button>
							</div>
						</li>
					{% endif %}
					{% if local_data %}
						<li class="nav-item indi-tab indi-tab-local" role="presentation">
							<div data-bs-toggle="tooltip" title="Display local data">
								<button class="nav-link local-tab" id="local-tab-{{ nodeid }}" data-bs-toggle="tab" data-bs-target="#tabs-4-{{ nodeid }}" type="button" role="tab" aria-controls="tabs-4-{{ nodeid }}" aria-selected="false">
									<i class="fa-solid fa-location-dot"></i>
									<div class='hidden'>Local</div>
								</button>
							</div>
						</li>
					{% endif %}
				</ul>
				<div class="tab-content" id="datasetContent-{{ nodeid }}">
					<div id='slider-color-{{ nodeid }}' class='collapse indicator-stats-slider'></div>
					{% if global_data %}
					<div id="tabs-1-{{ nodeid }}" class="dataset-tab w-100 tab-pane fade" role="tabpanel" aria-labelledby="global-tab-{{ nodeid }}">
						<div id='rest-error-global-{{ nodeid }}' class='rest-error'></div>
						<div id='indicator-chart-global-{{ nodeid }}' class='indicator-chart biopama-chart'></div> 
					</div>
					{% endif %}
					{% if regional_data %}
					<div id="tabs-2-{{ nodeid }}" class="dataset-tab w-100 tab-pane fade" role="tabpanel" aria-labelledby="regional-tab-{{ nodeid }}">
						<div id='rest-error-regional-{{ nodeid }}' class='rest-error'></div>
						<div id='indicator-chart-regional-{{ nodeid }}' class='indicator-chart biopama-chart'></div> 
					</div>
					{% endif %}
					{% if national_data %}
					<div id="tabs-3-{{ nodeid }}" class="dataset-tab w-100 tab-pane fade" role="tabpanel" aria-labelledby="national-tab-{{ nodeid }}">
						<div id='rest-error-national-{{ nodeid }}' class='rest-error'></div>
						<div id='indicator-chart-national-{{ nodeid }}' class='indicator-chart biopama-chart'></div> 
					</div>
					{% endif %}
					{% if local_data %}
					<div id="tabs-4-{{ nodeid }}" class="dataset-tab w-100 tab-pane fade" role="tabpanel" aria-labelledby="local-tab-{{ nodeid }}">
						<div id='rest-error-local-{{ nodeid }}' class='rest-error'></div>
						<div id='indicator-chart-local-{{ nodeid }}' class='indicator-chart biopama-chart'></div> 
					</div>
					{% endif %}
					<button class='btn btn-sm btn-outline-secondary' type='button' data-bs-toggle='collapse' data-bs-target='#stat-menu-{{ nodeid }}' aria-expanded='false' aria-controls='stat-menu-{{ nodeid }}'>Statistical Analysis</button>
					<div id='stat-menu-{{ nodeid }}' class='container-fluid collapse indicator-stats-control'>
						<div class='row'>
							<div class='col d-flex justify-content-around'>
								<div class='stop-point-wrapper'>
									<label class='form-label'>{% trans %}Classes{% endtrans %}</label></br>
									<select class='form-control-sm number-of-classes' name='Stop Points'>
										<option value='0' selected='true'>Default</option>
										<option value='3'>3</option>
										<option value='4'>4</option>
										<option value='5'>5</option>
										<option value='6'>6</option>
										<option value='7'>7</option>
										<option value='8'>8</option>
									</select>
								</div>
								<div class='class-method-wrapper'>
									<label class='form-label'>{% trans %}Classification{% endtrans %}</label></br>
									<select class='class-method form-control-sm' name='Class Method'>
										<option value='Default' selected='true'>Default</option>
										<option value='Equal Interval' >{% trans %}Equal Interval{% endtrans %}</option>
										<option value='Standard Deviation' >{% trans %}Standard Deviation{% endtrans %}</option>
										<option value='Natural Breaks (Jenks)' >{% trans %}Natural Breaks (Jenks){% endtrans %}</option>
										<option value='Quantile' >{% trans %}Quantile{% endtrans %}</option>
									</select>
								</div>
								<div class='color-selected-wrapper'>
									<label class='form-label'>{% trans %}Color{% endtrans %}</label>
									<div class='active-color-selected' data-bs-toggle='collapse' data-bs-target='#color-swatch-wrapper-{{nodeid}}' aria-expanded='false' aria-controls='color-swatch-wrapper-{{nodeid}}'>
									</div>
								</div>
								<div class='d-flex flex-column'>
									<label class='form-label'>{% trans %}Invert{% endtrans %}</label>
									<input class='color-reverse form-control-sm' type='checkbox' value='on'>
								</div>
							</div>
							<div id='color-swatch-wrapper-{{nodeid}}' class='collapse color-swatch-wrapper text-bg-dark p-3'>
								<H5>{% trans %}Diverging{% endtrans %}</H5>
								<div class="ramps-diverging">
								</div>	
								<H5>{% trans %}Sequential{% endtrans %}</H5>
								<div class="ramps-sequential">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id='map-legend-wrapper-{{ nodeid }}' class='map-legend-wrapper'>
				<div id='custom-map-legend-{{ nodeid }}'  class='flex-row  w-100 custom-map-legend' style="display: flex;">
					<div style='display: none !important;' id='custom-map-legend-nan' class='legend-nan flex-column'>
						<div class='legend-color' style='background: repeating-linear-gradient(315deg,#DC143C,#DC143C 4px,#ccc 4px,#ccc 8px); height:20px;'></div>
						<div class='legend-text'>&nbsp;{% trans %}NaN = No Data{% endtrans %}</div>
					</div>
				</div>
				<div id='wms-map-legend' ></div>
			</div>
			<div class='row px-3 indicator-source'>{{content.field_source}}</div>
		</div> 
		<div class='indicator-hidden-content hidden'>
			{# {{ dump(node.field_indi_map_layers_all) }} #}
			<div class='layer_nid'>{{ node.field_indi_map_layers_all.entity.id }}</div>
			<div class='node_id'>{{ nodeid }}</div>
			{{content.field_indi_map_layers_all}}
			{% if statistics %}
				{{content.field_indi_get_data_from}}
				{{content.field_indi_geonode_layer}}
				{{content.field_indi_geonode_global}}
				{{content.field_indi_geonode_regional}}
				{{content.field_indi_geonode_country}}
				{{content.field_indi_geonode_pa}}
				{{content.field_indi_data_global}}
				{{content.field_indi_data_regional}}
				{{content.field_indi_data_national}}
				{{content.field_indi_data_local}}
			{% endif %}
		</div>
	</div>
</div>

