 {#
/**
* @file
* view: The view in use.
* fields: A list of fields, each one contains:
* content: The output of the field.
* raw: The raw data for the field, if it exists. This is NOT output safe.
* class: The safe class ID to use.
* handler: The Views field handler controlling this field.
* inline: Whether or not the field should be inline.
* wrapper_element: An HTML element for a wrapper.
* wrapper_attributes: List of attributes for wrapper element.
* separator: An optional separator that may appear before a field.
* label: The field's label text.
* label_element: An HTML element for a label wrapper.
* label_attributes: List of attributes for label wrapper.
* label_suffix: Colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* has_label_colon: A boolean indicating whether to display a colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* row: The raw result from the query, with all data it fetched.
 */
#}

<div id="menuID-{{ fields.nid.content }}" class="card menu-indicator-card rounded-0 bg-gray-1200">
	<img class="card-img-top rounded-0" src="{{ fields.field_indicator_image.content }}" alt="Card image cap"> 
	<div class="card-body">
		<div class="row">
			<div class="col-sm-10">
	  			<h5 class="card-title">{{ fields.title.content }}</h5>
				{% if fields.field_indicator_topic.content is not empty %}
					<a class="btn btn-secondary d-inline-flex btn-sm p-1" href="{{ fields.view_taxonomy_term.content|trim }}" target="_blank">
						{{ fields.field_indicator_topic.content }}
					</a>
				{% endif %}
			</div>
			<div class="col-sm-2 d-flex justify-content-center menu-open-indicator-wrapper">
				<div data-bs-toggle="tooltip" title="Open Indicator" class="align-self-center menu-open-indicator btn btn-success rounded-circle">
					<i class="fa-solid fa-plus"></i>
				</div>
			</div>
		</div>
		<br>
		{{ fields.body.content }}
		<br>
	  	<div class="row">
			<div class="col-sm-6 d-flex">
				{% if fields.field_indi_data_global.content is not empty %}
					<div data-bs-toggle="tooltip" data-bs-placement="right" title="Indicator contains global data" class="fs-5 mx-1 btn btn-sm btn-outline-light rounded-circle">
						<i class="fa-solid fa-earth-americas map-ico d-flex justify-content-center align-items-center rounded-circle"></i>
					</div>
				{% endif %}
				{% if fields.field_indi_data_regional.content is not empty %}
					<div data-bs-toggle="tooltip" data-bs-placement="right" title="Indicator contains regional data" class="fs-5 mx-1 btn btn-sm btn-outline-light rounded-circle">
						<i class="fa-solid fa-earth-oceania map-ico d-flex justify-content-center align-items-center rounded-circle"></i>
					</div>
				{% endif %}
				{% if fields.field_indi_data_national.content is not empty %}
					<div data-bs-toggle="tooltip" data-bs-placement="right" title="Indicator contains national data" class="fs-5 mx-1 btn btn-sm btn-outline-light rounded-circle">
						<i class="fa-regular fa-flag map-ico d-flex justify-content-center align-items-center rounded-circle"></i>
					</div>	
				{% endif %}
				{% if fields.field_indi_data_local.content is not empty %}
					<div data-bs-toggle="tooltip" data-bs-placement="right" title="Indicator contains local data" class="fs-5 mx-1 btn btn-sm btn-outline-light rounded-circle">
						<i class="fa-solid fa-location-dot map-ico d-flex justify-content-center align-items-center rounded-circle"></i>
					</div>
				{% endif %}
			</div>
			<div class="col-sm-6">
				<div class="text-align-right actions-icons">
					<a class="use-ajax btn btn-primary d-inline-flex justify-content-center align-items-center rounded-circle mx-1 indicator-actions-icon" data-dialog-type="modal" href="/indicator_summary/{{ fields.nid.content|trim }}" data-dialog-options="{&quot;width&quot;:800}" data-bs-toggle="tooltip" title="View Indicator info">
						<i class="fa-solid fa-info"></i> 
					</a>
					{% if fields.view_node.content is not empty %}
						<a class="use-ajax btn btn-primary d-inline-flex justify-content-center align-items-center rounded-circle mx-1 indicator-actions-icon" data-dialog-type="modal" href="/indicator/policies/{{ fields.nid.content|trim }}" data-dialog-options="{&quot;width&quot;:800, &quot;title&quot;:&quot;Indicator Policies&quot;}" data-bs-toggle="tooltip" title="View Policy info">
							<i class="fa-solid fa-shield"></i>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="hidden">
			<div class="indicator-nid">
				{{ fields.nid.content }}
			</div>
		</div>
	</div>
</div>