#map-container {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height:800px;
  }
  
  .pop-news-card {
      max-width: 400px;
  }
  .pop-news-title {
      color: #72a19b;
      font-size: 16px;
      font-weight: bold;
  }
  .pop-news-date {
      color: #ccc;
  }
  
  .mapboxgl-popup-content {
      max-height: 400px;
      overflow: auto;
  }