div#block-indicatorcard {
  position: absolute !important;
  right: 3em;
  top: 20%;
  max-height: 70%;
  overflow-y: auto;
}

li.disable-scope, li.disable-scope a {
    pointer-events: none;
    color: #ccc !important;
}
li.temp-disable-scope, li.temp-disable-scope a {
    pointer-events: none;
    color: #888 !important;
}

.indicator-image {
     min-height: 200px;
}

#indicator-chart{
	height:250px;
	width:100%;
}

.edit-menu-trigger {
  position: relative;
  top: 0px;
  right: 24px;
  height: 0px;
  width: 30px;
  display: block !important;
}

.edit-menu-trigger.menu-tip:hover {
    left: calc(16.8em + 80px);
    height: 50px;
    width: 50px;
    font-size: 32px;
}
.indicator-edit-links-wrapper .views-field.views-field-edit-node{
	    margin-top: 0px; 
}
.indicator-edit-link {
	min-height: 40px;
	padding: 5px;
}


div#fancy_login_close_button {
    width: 25px;
    height: 25px;
    background: #90c14f;
}
.source-wrapper {
  font-size: 12px;
}

img.indi-edit-icon {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    height: 26px;
    line-height: 0px;
    border-radius: 50px;
}

.btn-outline-secondary {
  --bs-btn-border-color: transparent !important;
}
i.fa-solid.fa-circle-dot {
  position: absolute;
  margin-top: -15px;
  margin-right: 15px;
  color: #80b638;
  font-size: 10px;
}

.indi-menu-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

div.ramps-diverging, div.ramps-sequential {
    display: flex;
}
.ramp {
    padding: 2px;
}
.color-swatch-wrapper .ramp.selected {
    background-color: #fff;
}

.ramp.selected.card-selected-color {
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%);
    margin-top: 0%;
    width: 30px;
    border-radius: 3px;
}
div.color-selected-wrapper {
    cursor: pointer;
    overflow: auto;
}
div.active-color-selected {
    height: 30px;
    width: 105px;
}

.legend-unit,
.legend-nan {
  flex-grow: 1;
  flex-basis: 0;
}

.legend-text {
  font-size: 0.8em;
}

.indicator-title {
  font-size: 20px;
}

.noUi-vertical .noUi-handle {
  height: 16px !important;
  border: none;
  cursor: row-resize;
}

.indicator-stats-slider {
  height: 180px;
  top: 80px;
  margin-bottom: -180px;
}

.noUi-target {
  border: 0px;
  box-shadow: unset;
}

.noUi-vertical .noUi-handle:before {
  top: 6px !important;
}


.noUi-vertical .noUi-handle:after {
  top: 10px !important;
}

.noUi-vertical{
  width: 10px;
}

.noUi-connects {
  border-radius: 0px;
}
select.number-of-classes {
  width: 50px;
}

.nav.indicator-card-tabs {
  padding-right: 0;
}

.color-swatch-wrapper{
  position: absolute;
  bottom: 0;
  left: 0;
}

.indicator-card .form-control {
  background-color: #282d30;
  border: var(--bs-border-width) solid #282d30;
}