div#block-addcontent {
    position: fixed;
    right: 5em;
    bottom: 8em;
}

.add-content-wrapper {
	display: none;
    /* display: flex; */
    font-size: 26px;
    background: white;
    padding: 10px;
    border-radius: 50px;
}
.add-content-wrapper a {
	display: flex;
}


.card.homepageMapCard {
    margin: 0px 0px 25px 0px;
    opacity: 0.9;
    background: #212529;
    color: white!important;
}

.biopamaPopup .mapboxgl-popup-content {
    position: relative;
    background: transparent;
    border-radius: 3px;
    box-shadow: none;
    padding: 0px 10px 15px;
    pointer-events: auto;
	max-height: 200px;
}

.homepageMapCard.areaActive{
	border: 2px solid green;
}

.biopamaPopup .mapboxgl-popup-close-button{
    z-index: 10000;
    position: fixed;
    top: 3px;
    background-color: #8fc04f;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    right: calc(50% - 10px);
    color: white;
}
.biopamaPopup{
    max-width: 240px;
}
.biopamaPopup.multiPAs .mapboxgl-popup-content:before{
    content: '';
    bottom: 0;
    left: 21px;
    height: 20px;
    right: 0;
    background: linear-gradient(to top, rgb(33 37 41) 0%,rgb(201 69 69 / 0%) 100%);
    position: fixed;
    z-index: 5;
}

.card-body.homepageMapCardBody {
    padding: 0.2rem 1rem;
	cursor: pointer;
}

.mapCloseMarker, .closeSummaryCard {
  background-color: rgba(100,100,100,0.15);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  top: 0px;
  right: 10px;
  position: absolute;
}
.mapCloseMarker:hover, .closeSummaryCard:hover {
  background-color: rgba(255,165,165,0.30);
  color: red;
  font-size: 24px;
}

.card-header {
    padding: 2px 15px;
    font-variant: small-caps;
    color: #fff;
}

.card-header-region{
    background-color: #212529;
}
.card-header-country{
    background-color: #212529;
}
.card-header-pa{
    background-color: #8fbf4b3b;
}
div.card.region a.cardIcon{
    color: #ffffff;
    border: 2px solid #ffffffad;
}
div.card.country a.cardIcon{
    color: #ffffff;
    border: 2px solid #ffffffad;
}
div.card.pa a.cardIcon{
	color: #8FBF4B;
    border: 2px solid #8FBF4B;
}

a.cardIcon {
    background-color: #212529;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
	font-size: 16px;
	border-radius: 50%;
    margin: 0 5px;
	text-decoration: none;
}
a.cardIcon:hover {
	font-size: 20px;
}
h4.area-subheading {
    padding-bottom: 5px;
}

.area-subheading{
    font-size: 1.5em;
}